:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  --background: #ffffff;
  --foreground: #000000;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--system-ui);
  text-align: center;
  user-select: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 16px;
}
