.container {
  display: grid;
  grid-template-areas:
    '. columnHints'
    'rowHints gameGrid'
    'controls controls';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;

  white-space: nowrap;
}

.rowHints {
  grid-area: rowHints;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rowHints .hint {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.rowHints .hint .hintValue {
  margin-right: 1rem;
}

.columnHints {
  grid-area: columnHints;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.columnHints .hint {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.columnHints .hint .hintValue {
  margin-bottom: 0.5rem;
}

.hint.error {
  color: #ff2e63;
  font-weight: bold;
}

.hintValue.satisfied {
  text-decoration: line-through;
  opacity: 0.2;
}

.gameGrid {
  grid-area: gameGrid;
}

.controls {
  grid-area: controls;
}
