.container {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
}

.cell {
  stroke: white;
  fill: #000000;
  stroke-width: 5;
}

.line {
  stroke: #252a34;
  stroke-width: 0.1;
}

.line.divider {
  stroke-width: 0.6;
}
