.container {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;

  --background: #ffffff;
}

.cell {
  fill: var(--background);
}

.cell.filled {
  fill: #000000;
}

.line {
  stroke: #252a34;
  stroke-width: 0.1;
}

.line.divider {
  stroke-width: 0.6;
}
